.photo-about{
  top: 20px;
  left: 50px;
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}
.background{
  text-align: center;
}

.background i{
  color: #f59e7c;
  font-size: 30px;
}

.icons{
  margin-top: 20px;
}

.background i:hover{
  color: #e46939;
}

.container-about{

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  // top: -80px;
  margin-top: 50px;
}

.presentation{
  text-align: center;
  margin-left: 60px;
  margin-top: 40px;
}

.presentation a {
  text-decoration: none;
  color: #e46939;
}

@media(max-width: 992px) {
  .container-about{
    display: flex;
    flex-direction: column;
  }
}
