// Specific CSS for your home-page
// *{
//   margin: 0;
//   padding: 0;
//   // box-sizing: border-box;
// }

body{
  // display: flex;
  align-items: center;
  // justify-content: center;
  min-height: 100vh;
  background: #c7f7dd;
}

h2{
  color: #5ba980;
}

.container{

  margin-top: 300px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -80px;
  transform: skewY(-20deg);
  animation: animate 5s linear infinite;
  animation: floating 3s ease-in-out infinite
}
@keyframes animate{
  0% {
    filter: brightness(0deg);
  }
  100% {
    filter: brightness(360deg);
  }
}

@keyframes floating {
  0% { transform: translate(0,  0px) skewX(-20deg)}
  50%  { transform: translate(0, 15px) skewX(-20deg); }
  100%   { transform: translate(0, -0px) skewX(-20deg); }
}


.container .cube{
  position: relative;
  z-index: 2;
}
.container .cube:nth-child(2){
  z-index: 1;
  translate: -60px -60px;
}

.container .cube:nth-child(3){
  z-index: 3;
  translate: 60px 60px;
}

.container .cube div{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  translate: calc(-70px * var(--x)) calc(-60px * var(--y));
}


.container .cube div span{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #95d6b3;
  z-index: calc(1 * var(--i));
  transition: 1.5s;
}

.container .cube div span:hover{
  transition: 0s;
  background: #e46939;
  filter: drop-shadow(0 0 30px #ef4149);
}

.container .cube div span::before{
  content: '';
  position: absolute;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #c7f7dd;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 1.5s;
}

.container .cube div span:hover::before{
  background: #f38458;
  transition: 0s;
}

.container .cube div span::after{
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #b7efd1;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 1.5s;
}

.container .cube div span:hover::after{
  background: #f59e7c;
  transition: 0s;
}
