<div class="background">
  <img src="https://res.cloudinary.com/dvw6upciw/image/upload/v1674152721/production/47ADDA86-05F6-4718-8311-95A78CD061A7_j7hbol.jpg" class="photo-about shadow rounded"alt="">
  <a href="https://www.linkedin.com/in/estellerambur/"><i class="fa-brands fa-linkedin"></i></a>
  <a href="https://github.com/EstelleRamb"><i class="fa-brands fa-github"></i></a>
  <a href= "mailto:estelle.rambur@gmail.com"><i class="fa-solid fa-envelope"></i></a>
</div>

<div class="presentation">
  <p>Français installée à Montréal depuis bientôt 5 ans, je

</div>
