<div class="container-projects">
  <h1 class="categorie">Design graphique</h1>
  <%= link_to "retour", projects_path %>
  <div class="row row-cols-1 row-cols-md-3 g-3">
    <% @projects.each do|project| %>
      <% if project.genre == "graphism" %>
        <div class="col">
          <div class="card shadow position-relative"
              data-controller="card"
              data-action="mouseenter->card#readtitle">
            <%= link_to image_tag(project.photo_url, :class=>"project_image"), project %>

            <span class = "title d-none position-absolute top-50 start-50 translate-middle"
                  data-card-target="titles">
                  <%= project.name %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
