#tetris-button{
  background-color: #b7efd1;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  color: #f38458;
  border: none;
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

#tetris-button:hover{
  background-color: #f38458;
  color: #b7efd1;
}

// .tetris-button{
//   align-items: center;
//   margin: auto;
// }
