.project_image {
  width: 100%;
  object-fit: cover;
  // height: 250px;
  aspect-ratio: 1 / 1;
  padding: 20px;
  align-items: center;
  opacity: 0.8;
  }
.project_image:hover{
  opacity: 0.5;
  filter: saturate(0);
}

div.card{
  border-radius: 4px;
  border: none;
}

div.card:hover{
  background-color: #f38458;
  transition: 0.8s;
}


.card-index{
  position: relative;
  overflow: hidden;
}

.title{
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
