.icon i{
  font-size: 30px;
  color: #f38458;
}
.icon i:hover{
  color: #e46939;
  transition: 0.2s;
}


.navbar-lewagon {
  justify-content: space-between;
  background:#b7efd1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: #5ba980;
}
